<div data-ng-include src="'views/includes/connection.html'"></div>
<section data-ng-controller="transactionsController" data-ng-init="findThis()">
  <div class="secondary_navbar hidden-xs hidden-sm" scroll data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="tx.txid" data-ng-init="hideSNavbar=0">
    <div class="container" data-ng-if="!hideSNavbar">
      <div class="col-md-6 col-lg-7 text-left">
          <h3 translate>Transaction</h3>
          <div class="ellipsis"> 
            <small>{{tx.txid}}</small> 
            <span class="btn-copy" clip-copy="tx.txid"></span>
          </div>
      </div>
      <div class="col-md-6 col-lg-5 text-right">
        <span data-ng-show="tx.confirmations >= 0" class="txvalues
          txvalues-success">{{tx.confirmations}} 
          <span translate>Confirmations</span>
          <span data-ng-show="tx.txlock"> InstantSend TxLock</span>
        </span>
        <span data-ng-show="tx.confirmations < 0" 
          class="txvalues txvalues-danger" translate>Unconfirmed Transaction!</span>
        <span class="txvalues txvalues-primary">{{$root.currency.getConvertion(tx.valueOut) || tx.valueOut + ' DASH' }}</span>
      </div>
    </div>
    <div class="hide_snavbar">
      <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
        <span data-ng-show="hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
        <span data-ng-show="!hideSNavbar"><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
      </a>
    </div>
  </div>
  <div data-ng-if="tx.txid">
    <h1><span translate>Transaction</span> 
      <small data-ng-show="from_vin || from_vout">
        <span data-ng-show="from_vin" translate>Input</span> 
        <span data-ng-show="from_vout" translate>Output</span> 
        <span>{{v_index}}</span>
      </small>
    </h1>
    <div class="progress progress-striped active" data-ng-if="!tx.txid">
      <div class="progress-bar progress-bar-info" style="width: 100%">
        <span translate>Loading Transaction Details</span> <span class="loader-gif"></span>
      </div>
    </div>
    <div data-ng-if="tx.txid">
      <div class="well well-sm ellipsis">
        <strong translate>Transaction</strong> 
        <span class="txid text-muted">{{tx.txid}}</span>
        <span class="btn-copy" clip-copy="tx.txid"></span>
      </div>
      <h2 translate>Summary</h2>
      <table class="table" style="table-layout: fixed">
        <tbody>
        <tr>
          <td><strong translate>Size</strong></td>
          <td class="text-muted text-right">{{tx.size}} (bytes)</td>
        </tr>
        <tr data-ng-show="tx.fees">
          <td><strong translate>Fee Rate</strong></td>
          <td class="text-muted text-right">{{$root.currency.getConvertion((tx.fees * 1000) / tx.size) + ' per kB' || ((tx.fees * 1000) / tx.size) + 'DASH per kB'}}</td>
        </tr>
        <tr>
          <td><strong translate>Received Time</strong></td>
          <td data-ng-show="tx.time" class="text-muted text-right">{{tx.time * 1000|date:'medium'}}</td>
          <td data-ng-show="!tx.time" class="text-muted text-right">N/A</td>
        </tr>
        <tr>
          <td><strong translate>Mined Time</strong></td>
          <td data-ng-show="tx.blocktime" class="text-muted text-right">{{tx.blocktime * 1000|date:'medium'}}</td>
          <td data-ng-show="!tx.blocktime" class="text-muted text-right">N/A</td>
        </tr>
        <tr>
          <td><strong translate>Included in Block</strong></td>
          <td data-ng-show="tx.blockhash" class="text-muted text-right"> 
            <div class="ellipsis">
              <a href="block/{{tx.blockhash}}">{{tx.blockhash}}</a>
            </div>
          <td data-ng-show="!tx.blockhash" class="text-muted text-right">Unconfirmed</td>
        </tr>
        <tr data-ng-show="tx.locktime">
          <td><strong>LockTime</strong></td>
          <td class="text-muted text-right">{{tx.locktime}}</td>
        </tr>
        <tr data-ng-show="tx.version === 3 && tx.type >= 1">
          <td style="background-color: #e0efef"><strong><a href="https://github.com/dashpay/dips/blob/master/dip-0002-special-transactions.md">Special Transaction Type</a></strong></td>
          <td class="text-muted text-right">{{tx.type === 1 ? "Provider Registration Transaction (ProRegTx)	DIP 3" : tx.type === 2 ? "Provider Update Service Transaction (ProUpServTx)	DIP 3" : tx.type === 3 ? "Provider Update Registrar Transaction (ProUpRegTx) DIP 3" : tx.type === 4 ? "Provider Update Revocation Transaction (ProUpRevTx) DIP 3" : tx.type === 5 ? "Coinbase Transaction (CbTx) DIP 4" : tx.type === 6 ? "Quorum Commitment DIP 6" : tx.type === 8 ? "Register Subscription Transaction (SubTxRegister) DIP 5" : tx.type === 9 ? "Topup BU Credit Subscription Transaction (SubTxTopup)	DIP 5" : tx.type === 10 ? "Reset BU Key Subscription Transaction (SubTxResetKey) DIP 5" : tx.type === 11 ? "Close BU Account Subscription Transaction (SubTxCloseAccount) DIP 5" : tx.type}}</td>
        </tr>
        <tr data-ng-show="tx.txlock">
          <td style="background-color: #e0ffe4"><strong>InstantSend</strong></td>
          <td class="text-muted text-right">{{tx.txlock}}</td>
        </tr>
        <tr data-ng-show="tx.vin.length === tx.vout.length && tx.vin.length >= 3">
          <td style="background-color: #ffe9c9"><strong>PrivateSend Mixing Round</strong></td>
          <td class="text-muted text-right">{{tx.vin.length === tx.vout.length && tx.vin.length >= 3}}</td>
        </tr>
        <tr data-ng-show="tx.vin.length === 1 && tx.vout.length >= 3 && (tx.vout[0].value === 0.00100001 || tx.vout[0].value === 0.0100001 || tx.vout[0].value === 0.100001 || tx.vout[0].value === 1.00001 || tx.vout[0].value === 10.0001 || tx.vout[1].value === 0.00100001 || tx.vout[1].value === 0.0100001 || tx.vout[1].value === 0.100001 || tx.vout[1].value === 1.00001 || tx.vout[1].value === 10.0001)">
          <td style="background-color: #efefa9"><strong>PrivateSend Start Mixing</strong></td>
          <td class="text-muted text-right">{{tx.vin.length === 1 && tx.vout.length >= 3 && (tx.vout[0].value === 0.00100001 || tx.vout[0].value === 0.0100001 || tx.vout[0].value === 0.100001 || tx.vout[0].value === 1.00001 || tx.vout[0].value === 10.0001 || tx.vout[1].value === 0.00100001 || tx.vout[1].value === 0.0100001 || tx.vout[1].value === 0.100001 || tx.vout[1].value === 1.00001 || tx.vout[1].value === 10.0001)}}</td>
        </tr>
        <tr data-ng-show="tx.vin.length >= 3 && tx.vout.length <= 2 && (tx.vin[0].value === 0.00100001 || tx.vin[0].value === 0.0100001 || tx.vin[0].value === 0.100001 || tx.vin[0].value === 1.00001 || tx.vin[0].value === 10.0001)">
          <td style="background-color: #ffe9b8"><strong>PrivateSend</strong></td>
          <td class="text-muted text-right">{{tx.vin.length >= 3 && tx.vout.length <= 2 && (tx.vin[0].value === 0.00100001 || tx.vin[0].value === 0.0100001 || tx.vin[0].value === 0.100001 || tx.vin[0].value === 1.00001 || tx.vin[0].value === 10.0001)}}</td>
        </tr>
        <tr data-ng-show="tx.isCoinBase && tx.vout.length > 2 && tx.vout[0].value >= 1.7">
          <td style="background-color: #e3e3ff"><strong>Superblock</strong></td>
          <td class="text-muted text-right">{{tx.isCoinBase && tx.vout.length > 2 && tx.vout[0].value >= 1.7}}</td>
        </tr>
        <tr data-ng-show="(tx.vout.length >= 1 && tx.vout[0].value === 1000) || (tx.vout.length >= 2 && tx.vout[1].value === 1000)">
          <td style="background-color: #bfbfff"><strong>Masternode creation</strong></td>
          <td class="text-muted text-right">{{(tx.vout.length >= 1 && tx.vout[0].value === 1000) || (tx.vout.length >= 2 && tx.vout[1].value === 1000)}}</td>
        </tr>
        <tr data-ng-show="tx.vin.length >= 1 && tx.vin[0].value >= 1000">
          <td style="background-color: #ffa3a0"><strong>Masternode destruction</strong></td>
          <td class="text-muted text-right">{{tx.vin.length >= 1 && tx.vin[0].value >= 1000}}</td>
        </tr>
        <tr data-ng-show="tx.op_return_message && tx.op_return_message.length > 0">
          <td style="background-color: #e6ffff"><strong>OP_RETURN chat or signature</strong></td>
          <td class="text-muted text-right">{{tx.op_return_message}}</td>
        </tr>
        <tr data-ng-show="tx.vin.length === 1 && tx.vout.length === 0 && tx.fees === 0.00000192">
          <td style="background-color: #ffe0ff"><strong>Stresstest</strong></td>
          <td class="text-muted text-right">{{tx.vin.length === 1 && tx.vout.length === 0 && tx.fees === 0.00000192}}</td>
        </tr>
        <tr data-ng-show="tx.knownaddress && tx.knownaddress.length > 0">
          <td style="background-color: #e0ffff"><strong>Known Address</strong></td>
          <td class="text-muted text-right">{{tx.knownaddress}}</td>
        </tr>
        <tr data-ng-show="tx.isCoinBase">
          <td><strong>Coinbase</strong></td>
          <td class="text-muted text-right">
            <div class="ellipsis">
                <span class="btn-copy ng-isolate-scope" clip-copy="tx.vin[0].coinbase"></span>
                <span class="ng-binding">{{tx.vin[0].coinbase}}</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h2 translate>Details</h2>
    <div class="block-tx" data-ng-if="tx.txid">
      <div data-ng-include src="'views/transaction/tx.html'"></div>
    </div>
  </div>
</section>
