<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  t{{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('DASH')" data-ng-class="{active: currency.symbol == 'DASH'}">tDASH</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('mDASH')" data-ng-class="{active: currency.symbol == 'mDASH'}">mtDASH</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('uDASH')" data-ng-class="{active: currency.symbol == 'uDASH'}">utDASH</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('duffs')" data-ng-class="{active: currency.symbol == 'duffs'}">tduffs</a>
  </li>
  <!--not for testnet-->
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('EUR')" data-ng-class="{active: currency.symbol == 'EUR'}">EUR</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('GBP')" data-ng-class="{active: currency.symbol == 'GBP'}">GBP</a>
  </li><!-- -->
</ul>
