<a uib-dropdown-toggle data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul uib-dropdown-menu>
  <li>
  <a data-ng-click="setCurrency('VKAX')" data-ng-class="{active: currency.symbol == 'VKAX'}">VKAX</a>
  </li> 
  <li>
  <a data-ng-click="setCurrency('mVKAX')" data-ng-class="{active: currency.symbol == 'mVKAX'}">mVKAX</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('uVKAX')" data-ng-class="{active: currency.symbol == 'uVKAX'}">uVKAX</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('duffs')" data-ng-class="{active: currency.symbol == 'duffs'}">duffs</a>
  </li>
  <!--not for testnet-->
  <li>
  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('EUR')" data-ng-class="{active: currency.symbol == 'EUR'}">EUR</a>
  </li>
  <li>
  <a data-ng-click="setCurrency('GBP')" data-ng-class="{active: currency.symbol == 'GBP'}">GBP</a>
  </li><!-- -->
</ul>
